# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Data files (keep specific ones with !)
*.csv
*.json
*.xlsx
!accel_data/*
!rfdb_csvs/*

# Images
*.png

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


*.mp4
utils/__pycache__/track.cpython-311.pyc
utils/__pycache__/visualize.cpython-311.pyc
